/*--------------------
共通
---------------------*/
h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 8px;
}

section {
  margin: 0 auto 80px;
  padding: 0 2rem;
}

/*--------------------
リンク
---------------------*/
.link-items {
  display: flex;
  justify-content: center;
}
.link-items .item {
  position: relative;
  top: 0;
  background: #eee;
  width: 120px;
  height: 60px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
}
.link-items .item:hover {
  top: -3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.link-items .item + .item {
  margin-left: 30px;
}

/*--------------------
フッター
---------------------*/
footer {
  background-color: #24292e;
  color: #fff;
  padding: 3rem 1rem;
  text-align: center;
}