body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 0.5fr 4fr 1fr;
}

header {
  background: #bcf4fe;
  padding: 2rem;
}

nav {
  background: pink;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  align-content: center;
  padding-left: 1rem;
}

nav .menu {
  padding: 20px;
  background: #eee;
  border: 1px solid #ccc;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 1fr 100px;
  grid-gap: 4px 8px;
  background: #f7ffc5;
  padding: 2rem;
}

main h1 {
  margin: 0;
  grid-column: span 3;
  grid-row: 1 / 2;
}

main .left {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

main .right {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

main .block {
  background: #c5fec8;
  min-width: 25%;
  padding: 0 1rem;
}

main .items {
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: 50px;
  grid-gap: 5px;
  margin-top: 5px;
}

.items .item {
  background: #ffc5c5;
  padding: 0.7rem;
}

footer {
  background-color: #bdbbff;
  padding: 3rem 1rem;
  text-align: center;
}
