html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  background: #bcf4fe;
  padding: 2rem;
}

nav {
  background: pink;
  display: flex;
  padding-left: 1rem;
}

nav .menu {
  padding: 20px;
  background: #eee;
  border: 1px solid #ccc;
  text-align: center;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #f7ffc5;
  padding: 2rem;
}

main h1 {
  margin: 0;
}

main .block-wrapper {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

main .block {
  background: #c5fec8;
  min-width: 25%;
  padding: 0 1rem;
  flex-basis: 30%;
}

main .items {
  display: flex;
  gap: 5px;
  margin-top: 8px;
}

.items .item {
  background: #ffc5c5;
  padding: 0.7rem;
  flex-basis: 4%;
}

footer {
  background-color: #bdbbff;
  padding: 3rem 1rem;
  text-align: center;
}
