.todo-form form {
  display: grid;
  grid-template-columns: 1fr 100px;
  margin: 0 0 1rem 0;
}

.todo-form input {
  font-size: 85%;
  border-color: transparent;
  background: rgb(241, 245, 248);
  padding: 0.4rem;
  padding-left: 1rem;
  border-radius: 4px;
}

.error-text {
  color: #cb2431;
  opacity: 0.8;
  font-weight: bold;
  text-align: center;
}
