header {
  background: #BCF4FE;
  padding: 2rem;
}

nav {
  background: pink;
  display: flex;
  padding-left: 1rem;
}

nav .menu {
  padding: 16px;
  background: #eee;
  border: 1px solid #ccc;
  text-align: center;
}

main {
  background: #F7FFC5;
  padding: 2rem;
  min-height: 500px;
}

main h1 {
  margin: 0;
}

main .blocks {
  display: flex;
}

main .blocks .block {
  background: #C5FEC8;
  min-width: 25%;
  padding: 0 1rem;
}

.block + .block {
  margin-left: 8px;
}

.items {
  display: flex;
  margin-top: 5px;
}

.items .item {
  background: #ffc5c5;
  padding: .7rem;
}

.item + .item {
  margin-left: 5px;
}

footer {
  background-color: #BDBBFF;
  padding: 3rem 1rem;
  text-align: center;
}