body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #000;
}
canvas {
    border: 1px solid #fff;
}
#scoreBoard {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}
#restartButton {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
}
