#root {
  font-family:
    'system-ui',
    Josefin Sans;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

button {
  background-color: #1fadc5;
  border: 1px solid transparent;
  color: #fff;
  padding: 0.4em 1.2em;
  cursor: pointer;
  outline: none;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

button.danger {
  background-color: #fff;
  color: #cb2431;
}

button.danger.delete {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 0.5rem;
  width: 120px;
}

button.danger:hover {
  background-color: #cb2431;
  color: #fff;
}

button[disabled],
button.danger[disabled] {
  opacity: 0.6;
  cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
}
